.fancy-paragraph {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 30px 14px;
  width: calc(100% + 30px);
  left: -15px;
  right: -15px;

  margin-top: 20px;

  color: black;
  background: rgb(255, 187, 109);

  box-sizing: border-box;

  &__label {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &__text {
    margin-top: 20px;
  }
}
