.d2-offers {
  position: relative;

  &--closed::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none;
  }

  & * {
    box-sizing: border-box;
    vertical-align: top;
  }

  &__list {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    border-collapse: collapse;
  }

  &__item + &__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__caption-col {
    position: relative;
    width: 75%;
  }

  &__marketplace-col {
    width: 15%;
  }

  &__price-col {
    width: 10%;
  }

  &__caption {
    position: absolute;
    width: 100%;
    padding: 14px 10px 15px 0;
    white-space: nowrap;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
  }

  &__marketplace {
    display: block;
    padding: 14px 10px 15px 27px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #333;
    text-decoration: none;
  }

    &__marketplace--drom {
      background-image: url('./assets/icon-drom.svg');
    }

    &__marketplace--market {
      background-image: url('./assets/icon-drive.svg');
    }

  &__price {
    display: block;
    padding: 10px 0;
    text-decoration: none;
  }

  &__badge {
    display: inline-block;
    padding: 5px 15px 4px;
    background-color: #5fa03d;
    color: #fff;
    border-radius: 99px;
    font-weight: bold;
    white-space: nowrap;
  }
}
