.ext-business-card {
  padding: 15px 0;
}
.ext-business-card__title {
  margin-bottom: 10px
}

.ext-business-card__name {
  font-size: 24px;
  margin: 0;
  font-weight: 400
}

.ext-business-card__position {
  font-size: 16px;
  margin: 0;
  font-weight: 400
}

.ext-business-card__address,
.ext-business-card__contact {
  font-size: 14px;
}


.ext-business-card__link {
  text-decoration: none;
  color: #4183c4
}
